{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>time</title>
  <link href="{% static 'hello/styles.css' %}" rel="stylesheet">
</head>
<body>
  {% if monday %}
  <h1>Monday</h1>
  {% elif tuesday %}
  <h1>Tuesday</h1>
  {% elif wednesday %}
  <h1>Wednesday</h1>
  {% elif thursday %}
  <h1>Thursday</h1>
  {% elif friday %}
  <h1>Friday</h1>
  {% elif saturday %}
  <h1>Saturday</h1>
  {% elif sunday %}
  <h1>Sunday</h1>
  {% endif %}
</body>
</html>