{% extends "schools/layout.html" %}

{% block body %}
  <h1>Add a new school!</h1>
  <!-- CSRF (cross-site-request-forgery) 403 error, no permission, some one might forge the browser to break int -->
  <!-- Middle ware in django under settings.py -->
  <form action="{% url 'schools:addSchool' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="task">
    <input type="submit">
  </form>
  <br>
  
  <!-- <a href="/schools">See all schools</a> -->
  <a href="{% url 'schools:index' %}">See all schools</a>
{% endblock %}
